$base-color:#1c1c1c;
$main-color:#0d0d0d;
$accent-color:#ff6047;
$font-color:#fff4f0;
$sub-color:#33d3ff;

@font-face {
  font-family: 'Aoyagi';
  font-style: normal;
  src: url((asset-path('AoyagiKouzanTOTF.otf'))) format('opentype');
}

/* 767px以下： デフォルト */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  background-color: $main-color;

  h1 {
    padding-left: 3%;
    font-size:16px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  padding-bottom:10px;
  background-color: $main-color;

  h1 {
    padding-left:3%;
    font-size:10px;
  }
}

body {
  height: 100%;
  background-color: $base-color;
  color: $font-color;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  margin:0 auto;
  width: 75%;
  margin-top:50px;


  .wrapper_display {
    margin:0 auto;
    margin-top: 10%;
    font-family: 'Aoyagi', sans-serif, "Helvetica Neue",Helvetica,Arial,"Yu Gothic",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo !important;
    
    .meimei {
      margin:0;
      padding-top:0px;
      font-size: 10vw;
    }
    
    .namae {
      margin:0;
      margin-top:5%;
      font-size: 20vw;
    }
    .romeji {
      margin:0;
      margin-left:3%;
      margin-top:2px;
      font-size: 10vw;
    }
  }
}


/* 768px以上 */
@media (min-width: 768px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: $main-color;
  
    h1 {
      padding-left: 3%;
      font-size:16px;
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-bottom:10px;
    background-color: $main-color;
  
    h1 {
      padding-left:3%;
      font-size:16px;
    }
  }

  .container {
    width: 750px;
  }

  .wrapper {
    margin:0 auto;
    margin-top:100px;
    display:flex;
    justify-content: space-around;

    .wrapper_display {
      margin:0 auto;
      font-family: 'Aoyagi', sans-serif, "Helvetica Neue",Helvetica,Arial,"Yu Gothic",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo !important;
      
      .meimei {
        margin:0 auto;
        font-size: 5vw;
      }
      
      .namae {
        margin-top:5%;
        font-size: 15vw;
      }
      .romeji {
        margin-left:3%;
        margin-top:2px;
        font-size: 5vw;
      }
    }
  }

}